---
title: Sheldon-Calderon Wedding
---

%br

.row
  %p.alert.alert-info.center
    %strong
      There's still time to RSVP. Please let us know if you can celebrate with us! xoxo A + B 

#about-us.section
  .row
    .bio.col-md-6
      %h3 The Bride
      %p.headshot= image_tag 'bio-angelina.png'
      %h2 Angelina Paz Calderon
      %p
        Angelina grew up in Madison, WI in a large family where they spoke English and Spanish
        at home. Her childhood was largely spent at swim meets, practicing the violin and piano, learning the art of negotiation that comes from being the eldest of 3 sisters, and reading lots of books.
      %p
        She attended Oberlin College where she was a member of the swim team (go OC, go OC, go!), and graduated
        from Luther College with majors in Music and Political Science. She earned her Master's degree in Vocal Pedagogy from New England Conservatory, where she partnered with Boston Lyric Opera to conduct the children's chorus.
      %p
        After grad school, Angelina continued to sing in the Tanglewood Festival Chorus, Boston Cecilia and taught part-time at several Boston area private schools. She also started to grow a small design business in Boston, and in 2011 moved to San Francisco. She currently helps tech startups hire engineers at The Sourcery and sings in the San Francisco Symphony Chorus. She still swims, and in summer 2013 completed her first Trans-Tahoe Relay (that's nearly 12 miles).


    .bio.col-md-6
      %h3 The Groom
      %p.headshot= image_tag 'bio-ben.png'
      %h2 Benjamin Michael Sheldon
      %p
        Ben grew up in Poway, California (motto: "the city in the country"), a restful Southern Californian suburb of San Diego. He did 4 years of marching band (instrument: saxophone) in high school. Ben attended the University of California, Santa Barbara, where he received a Bachelors of Science in Mathematics, graduating in three years.
      %p
        After college, Ben moved to Boston, where he served 3 years in AmeriCorps*VISTA: first as a youth-literacy fundraiser, then at a Cable Access TV station, and finally as a VISTA Leader where he supported other service members. Not having enough of AmeriCorps quite yet, Ben then became Program Director of the Digital Arts Service Corps where he recruited, placed and supported more than 200 AmeriCorps*VISTA members across 25 states. Ben was also active in the community, serving on the board of the Organizers Collaborative (mission: "technology tools and training for progressive social change"), and being a founding director of the Boston Cyclists Union
      %p
        In 2011, Ben moved to San Francisco and began doing technology stuff full-time. First compeleting a fellowship with Code for America, then working at OkCupid Labs, and currently now at Pantheon.
  .row
    .col-md-4
      %p{style: "margin-top: 20px;"}= image_tag 'story-together.png', class: 'fill'
    .columnar.col-md-8
      %h2.left Our Story Together
      %p
        Angelina and Ben met at the birthday party of a mutual friend (thanks Adriana!) in the Jamaica Plain neighborhood of Boston. After dating for 2 years, they moved in together, and 2 years after that, they moved to San Francisco. On February 3, 2013, at picturesque Lake Tahoe, Ben proposed marriage to Angelina. She accepted.


#the-team.section.hidden
  .row
    %h1 The Team
  .row
    .bio.col-md-3.col-xs-6
      %p.headshot= image_tag 'bio-emily.png'
      %h2 Emily
      %p
        Emily and Angelina grew up next door to each other and are practically sisters. She lives in Madison with her husband, Josh, their son, Corbin, and a big chocolate lab, Chuck. Emily helps hundreds of families as a social worker in Madison public schools.
    .bio.col-md-3.col-xs-6
      %p.headshot= image_tag 'bio-ale.png'
      %h2 Alejandra
      %p
        Alejandra resides in the Winter Wonderland of Minnesota. She and her husband, Dan, enjoy snowboarding, cross country skiing, and when the lakes aren't frozen, kayaking. She is a pediatric nurse and Nurse Practitioner in training by day (and night), and proud mother to Adriana Victoria.
    %br.visible-xs
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag 'bio-alba.png'
      %h2 Alba
      %p
        Alba is Angelina's youngest sister. She lives in Milwaukee, designs generators for Kohler, and racks up miles on her bike along Lake Michigan. Alba has also documented many moments of their parents' new dog, Sunny.
    .bo.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Greg
      %p= lorem.paragraph
  .row
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alex
      %p= lorem.paragraph
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Jules
      %p= lorem.paragraph
    %br.visible-xs
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Danielle
      %p= lorem.paragraph
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 TBD
      %p= lorem.paragraph

#the-place.section
  .row
    %h1 Ceremony + Reception
  .row
    .col-md-6
      %h2 Saint Francis Lutheran Church
      %p.headshot= image_tag 'stfrancis.png'
      %h3 3pm on April 26
      %h3 152 Church St, San Francisco
      %p
        <strong>Directions:</strong> There is limited street parking so we strongly suggest taking public transit.
        Muni trains J, K, L, M and N and the 22 Fillmore bus all stop within 1/2 a block of the church.
        We will also be arranging a shuttle to transport guests from downtown San Francisco.
    .col-md-6
      %h2 Tank18
      %p.headshot= image_tag 'tank18.png'
      %h3 5pm on April 26
      %h3 1345 Howard St, San Francisco
      %p
        <strong>Directions:</strong> On Howard between 9th and 10th streets. Take the F, J, K, L, M or N Muni trains to Civic Center station. We will also arrange a shuttle bus to transport guests from the church to the reception.

#hotels.section
  .row
    %h1 Hotels in San Francisco

  .row
    .col-sm-3.col-xs-6
      %p.headshot= image_tag "hotel-info.jpg"
      %h2 General Info
      %p
        San Francisco has many hotel options. We've selected a few, but you may still find better deals on
        <strong><a href="http://www.yelp.com/search?find_desc=hotels&find_loc=San+Francisco%2C+CA&ns=1#l=p:CA:San_Francisco::[Castro,Civic_Center,Duboce_Triangle,Embarcadero,Financial_District,Union_Square]">Yelp</a></strong>. Always be sure to ask about discounts like AAA or AARP; even the group rates here may not be their best. Also,
        <strong><a href="https://www.airbnb.com/s/San-Francisco--CA?checkin=04%2F25%2F2014&checkout=04%2F27%2F2014&guests=2">AirBnB</a></strong>
        has affordable options (especially for larger groups).
    .col-sm-3.col-xs-6
      %p.headshot= image_tag "hotel-stfrancis.jpg"
      %h2 Westin St. Francis
      %p
        The Westin St. Francis is a historic luxury hotel located at the center of things on Union Square. Group rate is ~$240 (+tax). Use this
        <a href="http://www.starwoodhotels.com/westin/rates/calendar.html?sortOrder=&propertyId=1010&corporateAccountNumber=343553&refPage=predecider&accessible=&ctx=search&priceMin=&priceMax=&bedType=&rp=SN%3A343553%2C%2C%2C&currencyCode=&nonSmoking=">online link for the group rate</a>.

    %br.visible-xs

    .col-sm-3.col-xs-6
      %p.headshot= image_tag "hotel-abri.jpg"
      %h2 Hotel Abri
      %p
        Hotel Abri is a modern, boutique hotel nearby to Union Square with "Street Smart. Urban Vibe." We're  waiting on their sales manager to give us a group signup link, but the rate is ~$210 (+tax).
        <a href="http://hotelabrisf.com/">Website</a>

    .col-sm-3.col-xs-6
      %p.headshot= image_tag "hotel-bijou.jpg"
      %h2 Hotel Bijou
      %p
        Hotel Bijou is slightly nearby to Union Square and inspired by the cities cinematic history, including a mini-theater showing locally made movies. Again, waiting on the group rate, but rates are ~$160 (+tax).
        <a href="http://www.hotelbijou.com/">Website</a>

#registries.section
  .row
    %h1 Our Registries
  .row
    .bio.col-md-4
      - heath_ceramics_link = 'http://www.heathceramics.com/giftregistry/view/index/id/1e8e86489130f1eff691a058a0733346/'
      = link_to heath_ceramics_link do
        %p.headshot= image_tag 'heath.png'
      %h2 Heath Ceramics
      %p We love these beautiful ceramics, made here in the Bay Area&mdash;and a big upgrade from our current random dishware. <strong>#{link_to 'Registry Link', heath_ceramics_link}</strong>
    .bio.col-md-4
      - llbean_link = 'http://www.llbean.com/wl/H2WMUFOY7O'
      %p.headshot= image_tag 'llbean.png'
      %h2 L.L. Bean
      %p You couldn't pry these flannel sheets and fluffy towels from our cold San Francisco hands. Please email <strong>family@sheldoncalderon.com</strong> if you make a purchase so we can remove items and share our shipping information. <strong>#{link_to 'Wishlist Link', llbean_link}</strong>
    .bio.col-md-4
      - amazon_link = 'http://www.amazon.com/registry/wedding/2MMU3Q863KHAZ'
      = link_to amazon_link do
        %p.headshot= image_tag 'amazon.png'
      %h2 Amazon.com
      %p Everything else, maybe even the kitchen sink. <strong>#{link_to 'Registry Link', amazon_link}</strong>

#faq.section
  .row
    %h1 FAQ + Things to Do
  .row
    .col-md-12
      %h2 Wedding Ceremony and Reception Facts
      %p
        <p> <strong>Attire is "semi formal"</strong>. Ben will probably be in a suit and Angelina in a very fancy dress. 
        The wedding party will be wearing suits and cocktail dresses. All venues are indoors so wear whatever shoes you want to dance in!</p>

        <p> <strong>Spring weather</strong> in San Francisco is around 50-70 degrees Fahrenheit with sporadic rain or fog. Wear layers and carry a jacket -- warm sunny days fast turn into chilly nights!</p>
        
        <p> <strong>Children are very much allowed</strong> and are encouraged to attend all wedding events!</p>
        
        <p> <strong>All wedding venues are accessible.</strong>
        
        <p> <strong>We're working with our caterers to accomodate dietary restrictions.</strong> Please list any restrictions or allergies on your response card.</p>

        <p> <strong>Leave your car at home!</strong> Both the ceremony and reception are on public transit lines. Taxi fare is also $5-$15 between locations in downtown San Francisco.</p>

        <p> The <strong>greatest gift you can give us is the opportunity to celebrate with you from wherever you are</strong> as we start our married life together.</p> 

  .row
    .col-md-20
      %h2 We left our <3's in San Francisco 
  .row    
    .bio.col-md-4
      %p.headshot= image_tag "calacademy.png"
      %h3 Cal Academy and Golden Gate Park 
      %p
        <p> <strong>The California Academy of Sciences</strong> is the only science museum with an aquarium, planetarium and a rainforest all under one Living Roof! After your visit stop by the <strong>Twirl & Dip</strong> ice cream truck parked on JFK drive.</p>
    .bio.col-md-4
      %p.headshot= image_tag "icecreambar.png"
      %h3 Ice Cream Bar
      %p    
        <p> We love the <strong>Ice Cream Bar</strong> in Cole Valley -- especially their chocolate sorbet, toasted marshmallow fluff and the World's Best Pistachio Milkshake (easily shared and totally worth it).</p>
    .bio.col-md-4
      %p.headshot= image_tag "baylights.png"
      %h3 Embarcadero and the Ferry Building 
      %p    
        <p> The <strong>Saturday Farmer's Market at the Ferry Building</strong> is legendary, and we agree. Grab a latte from Blue Bottle and check out some of the best food from around the Bay. At dusk walk the waterfront to catch the <strong>Bay Lights</strong> art display on the Bay Bridge.</p>
    .bio.col-md-4
      %p.headshot= image_tag "oceanbeach.png"
      %h3 Ocean Beach 
      %p    
        <p> Take the N Judah out to <strong>Ocean Beach</strong> for a view of some of the area's best surf, take in a panoramic view from <strong>The Camera Obscura</strong>, or sip a craft beer at the <strong>Park Chalet</strong> across the Great Highway.</p> 
    .bio.col-md-4
      %p.headshot= image_tag "ggbridge.png"
      %h3 Golden Gate Bridge 
      %p    
        <p> If you're up for a hike we love the <strong>Golden Gate National Recreation Area</strong> trail from <strong>Baker Beach</strong> to the <strong>Golden Gate Bridge</strong>. Get some exercise and a thrilling view away from the tour buses.</p>
    .bio.col-md-4
      %p.headshot= image_tag "exploratorium-clickclack.png"
      %h3 Exploratorium and TCHO
      %p    
        <p> The newly-relocated <strong>Exploratorium</strong>, THE hands-on science museum, is bigger and better on Pier 17. As a bonus the (free! just reserve tickets online) <strong>TCHO Chocolate Factory</strong> tour is right next door.</p> 


