---
title: Sheldon-Calderon Wedding
---

%br

.row
  %p.alert.alert-info.center
    %strong
      Heads up!
    We will be updating this website soon with more information so check back again!

#about-us.section
  .row
    .bio.col-md-6
      %h3 The Bride
      %p.headshot= image_tag 'bio-angelina.png'
      %h2 Angelina Paz Calderon
      %p
        Angelina grew up in Madison, WI in a large family where they spoke English and Spanish
        at home. Her childhood was largely spent at swim meets, practicing the violin and piano, learning the art of negotiation that comes from being the eldest of 3 sisters, and reading lots of books.
      %p
        She attended Oberlin College where she was a member of the swim team (go OC, go OC, go!), and graduated
        from Luther College with majors in Music and Political Science. She earned her Master's degree in Vocal Pedagogy from New England Conservatory, where she partnered with Boston Lyric Opera to conduct the children's chorus.
      %p
        After grad school, Angelina continued to sing in the Tanglewood Festival Chorus, Boston Cecilia and taught part-time at several Boston area private schools. She also started to grow a small design business in Boston, and in 2012 moved to San Francisco. She currently helps tech startups hire engineers at The Sourcery and sings in the San Francisco Symphony Chorus. She still swims, and in summer 2013 completed her first Trans-Tahoe Relay (that's nearly 12 miles).


    .bio.col-md-6
      %h3 The Groom
      %p.headshot= image_tag 'bio-ben.png'
      %h2 Benjamin Michael Sheldon
      %p
        Ben grew up in Poway, California (motto: "the city in the country"), a restful Southern Californian suburb of San Diego. He did 4 years of marching band (instrument: saxophone) in high school. Ben attended the University of California, Santa Barbara, where he received a Bachelors of Science in Mathematics, graduating in three years.
      %p
        After college, Ben moved to Boston, where he served 3 years in AmeriCorps*VISTA: first as a youth-literacy fundraiser, then at a Cable Access TV station, and finally as a VISTA Leader where he supported other service members. Not having enough of AmeriCorps quite yet, Ben then became Program Director of the Digital Arts Service Corps where he recruited, placed and supported more than 200 AmeriCorps*VISTA members across 25 states. Ben was also active in the community, serving on the board of the Organizers Collaborative (mission: "technology tools and training for progressive social change"), and being a founding director of the Boston Cyclists Union
      %p
        In 2012, Ben moved to San Francisco and began doing technology stuff full-time. First compeleting a fellowship with Code for America, then working at OkCupid Labs, and currently now at Pantheon.
  .row
    .col-md-4
      %p{style: "margin-top: 20px;"}= image_tag 'story-together.png', class: 'fill'
    .columnar.col-md-8
      %h2.left Our Story Together
      %p
        Angelina and Ben met at the birthday party of a mutual friend (thanks Adriana!) in the Jamaica Plain neighborhood of Boston. After dating for 2 years, they moved in together, and 2 years after that, they moved to San Francisco. On February 3, 2013, at picturesque Lake Tahoe, Ben proposed marriage to Angelina. She accepted.


#the-team.section.hidden
  .row
    %h2 The Team
  .row
    .bio.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Emily
      %p= lorem.paragraph
    .bio.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alejandra
      %p= lorem.paragraph
    %br.visible-xs
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alba
      %p= lorem.paragraph
    .bo.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Greg
      %p= lorem.paragraph
  .row
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alex
      %p= lorem.paragraph
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Jules
      %p= lorem.paragraph
    %br.visible-xs
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Danielle
      %p= lorem.paragraph
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 TBD
      %p= lorem.paragraph

#the-place.section
  .row
    %h2 Ceremony + Reception
  .row
    .col-md-6
      %h2 Saint Francis Lutheran Church
      %p.headshot= image_tag 'stfrancis.png'
      %h3 3pm on April 26
      %h3 152 Church St, San Francisco
      %p
        <strong>Directions:</strong> There is limited street parking so we strongly suggest taking public transit.
        Muni trains J, K, L, M and N and the 22 Fillmore bus all stop within 1/2 a block of the church
        We will also be arranging a shuttle to transport guests from the lobby of the Marriott Grand Marquis in downtown San Francisco.
    .col-md-6
      %h2 Tank18 Urban Winery
      %p.headshot= image_tag 'tank18.png'
      %h3 5pm on April 26
      %h3 1345 Howard St, San Francisco
      %p
        <strong>Directions:</strong> We will arrange a shuttle bus to transport guests from the church to the reception.

#the-team.section
  .row
    %h2 Our Registries
  .row
    .bio.col-md-4
      - heath_ceramics_link = 'http://www.heathceramics.com/giftregistry/view/index/id/1e8e86489130f1eff691a058a0733346/'
      = link_to heath_ceramics_link do
        %p.headshot= image_tag 'heath.png'
      %h2 Heath Ceramics
      %p We love these beautiful ceramics, made here in the Bay Area&mdash;and a big upgrade from our current random dishware. <strong><a href="#{heath_ceramics_link}">Registry Link</a></strong>
    .bio.col-md-4
      - llbean_link = ''
      %p.headshot= image_tag 'llbean.png'
      %h2 L.L. Bean
      %p You couldn't pry these flannel sheets and fluffy towels from our cold, damp San Francisco hands. <strong>Link coming soon</strong>
    .bio.col-md-4
      %p.headshot= image_tag 'amazon.png'
      %h2 Amazon.com
      %p Everything else, maybe even the kitchen sink. <strong>Link coming soon</strong>

