---
title: Sheldon-Calderon Wedding
---

#about-us.section
  .row
    .bio.col-md-6
      %h3 The Bride
      %p.headshot= image_tag 'bio-angelina.png'
      %h2 Angelina Paz Calderon
      %p= lorem.paragraph
    .bio.col-md-6
      %h3 The Groom
      %p.headshot= image_tag 'bio-ben.png'
      %h2 Benjamin Michael Sheldon
      %p= lorem.paragraph
  .row
    .col-md-4
      %p{style: "margin-top: 20px;"}= image_tag 'story-together.png', class: 'fill'
    .columnar.col-md-8
      %h2.left Our Story Together
      %p= lorem.paragraphs 2


#the-team.section
  .row
    %h2 The Team
  .row
    .bio.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Emily
      %p= lorem.paragraph
    .bio.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alejandra
      %p= lorem.paragraph
    %br.visible-xs
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alba
      %p= lorem.paragraph
    .bo.col-md-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Greg
      %p= lorem.paragraph
  .row
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Alex
      %p= lorem.paragraph
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Jules
      %p= lorem.paragraph
    %br.visible-xs
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 Danielle
      %p= lorem.paragraph
    .bio.col-sm-3.col-xs-6
      %p.headshot= image_tag lorem.image('100x100')
      %h2 TDB
      %p= lorem.paragraph

#the-place.section
  .row
    %h2 The Places
  .row
    .col-md-6
      %h2 Saint Francis Lutheran Church
      %h3 2:00pm on April 26
      %h3 152 Church St, San Francisco
      .row
        %p.col-sm-3.fill
          = image_tag lorem.image('100x100'), class: 'fill'
        %p.col-sm-9
          = lorem.paragraph
    .col-md-6
      %h2 Tank18 Urban Winebar
      %h3 5:00pm on April 26
      %h3 1345 Howard St, San Francisco
      .row
        %p.col-sm-3
          = image_tag lorem.image('100x100'), class: 'fill'
        %p.col-sm-9
          = lorem.paragraph

